
body {
    background-color: black;
}

.box {
  position: relative;
  width: 400px;
  height: 300px;
  border: 2px solid white;
  margin: 50px auto;
  background-color: black;
}

#ball {
  position: absolute;
  bottom: 0;
  left: 45%;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: crimson;
}

button {
  display: block;
  margin: 10px auto;
  padding: 8px 16px;
  font-size: 15px;
  border-radius: 10px;
  cursor: pointer;
}