* {
    margin: 0%;
    padding: 0%;
}

body {
    font-family: monospace;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}

button {
    font-size: 1.2rem;
    padding: 0.8rem 1rem;
    margin: 1rem 0rem;
    border-radius: 2rem;
    font-weight: bold;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-around {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.flex-evenly {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#main-cta {
    background-color: #1DB954;
}

header {
    position: sticky;
    top: 0;
    z-index: 1000;
    padding: 1.5rem;
}

nav {
    background-color: black;
    color: white;
    padding: 1rem;
    border-radius: 2rem;
}

.nav-links {
    font-weight: bold;
    gap: 2rem;
    font-size: 1rem;
}

main {
    margin: 2rem;
}

section {
    padding: 3rem;
}

.hero {
    background-color: rgb(102, 51, 153, 0.3);
    border-radius: 2rem;
}

#para {
    font-size: 1.8rem;
    margin: 1.2rem 0rem;
    line-height: 3rem;
}

footer {
    background-color: black;
    color: white;
    padding: 2.5rem;
    margin: 2rem;
    border-radius: 2rem;
}